/* Color Selector */
:root {
  --myorange: #ff6348;
  --mywhite: #eee;
  --myblue: #2f3542;
  --mygreen: #2ecc71;
  --mysilver: silver;
  --myblack: #333;
}

/*Start global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100%;
  background-color: #2f3542;
  /* background: url(/images/grey.jpg) no-repeat center fixed; */
  background-size: cover;
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}
/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  /* margin-bottom: 10rem; */
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  /* font-weight: 300; */
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff6348;
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
}

.has-margin-right {
  margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header {
  /* background: url(https://cdn.pixabay.com/photo/2017/04/19/17/38/c-20-2243079_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #ff6348;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
  /* width: 100%; */
}

.nav-link {
  font-family: "Six Caps", sans-serif;
  font-size: 4.5rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #2f3542, #2f3542);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1500;
}

.stick {
  width: 80px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #eee;
  display: inline-block;
}

.stick:last-child {
  margin-bottom: -13px;
}

.stick-1.open {
  animation: stick-1-open 0.6s ease-out forwards;
}

.stick-2.open {
  animation: stick-2-open 0.6s linear forwards;
}

.stick-3.open {
  animation: stick-3-open 0.6s linear forwards;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 20rem;
  font-family: "Six Caps", sans-serif;
  background: #ff6348;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-family: monospace;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: capitalize;
}

/*End header*/

/*Start about*/
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;
}

.social-media .myresume {
  margin-right: 60px;
}

.resume {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  margin: 0;
  padding: 18px 10px;
  background: rgba(255, 109, 72);
  color: #eee;
  border-radius: 100px;
  box-shadow: 0 0 0 3px rgba(238, 227, 231, 0.2);
}

.fa-facebook-square:hover {
  color: #4267b2;
}

.fa-instagram-square:hover {
  color: #a3741e;
}

.fa-linkedin:hover {
  color: #13bddb;
}

/*End about*/

/*Start education*/
.timeline {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  box-sizing: border-box;
}

.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #eee;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 60px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.education-content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 24px;
  right: 14px;
  width: 10px;
  height: 10px;
  background: #ff6348;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(238, 227, 231, 0.2);
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 24px;
  left: 16px;
  width: 10px;
  height: 10px;
  background: #ff6348;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(238, 227, 231, 0.2);
}

.timeline ul li h3 {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-weight: 600;
  color: #ff6348;
}

.timeline ul li p {
  font-size: 1.4rem;
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .date h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .date {
  position: absolute;
  top: 12px;
  right: -150px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(214, 98, 30, 0.2);
  color: #eee;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(238, 227, 231, 0.2);
}

.timeline ul li:nth-child(even) .date {
  position: absolute;
  top: 12px;
  left: -150px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(214, 98, 30, 0.2);
  color: #eee;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(238, 227, 231, 0.2);
}
/*End education*/

/*Start skills*/
.inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #eee;
  cursor: pointer;
}

.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 35px;
}

.skill-box:hover .skill-img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #ff6348;
  transition: 0.5s;
}

.skill-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #ff6348;
  transition: 0.5s;
}

.skill-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.skill-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skill-title h3 {
  color: #eee;
  text-transform: uppercase;
  margin: 0.5rem;
}

.skill-box p {
  font-size: small;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
}

.skill-icon {
  width: 50px;
  z-index: 2;
}
/*End skills*/

/*Start project*/
.project .section-heading {
  margin-top: 60px;
}

.project .container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.container .project-box {
  background: rgba(17, 17, 17, 0.3);
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #eee;
  transition: 0.5;
  cursor: pointer;
}

.container .project-box:hover {
  background: #ff6348;
  color: #2f3542;
  transition: 650ms;
}

.container .project-box i {
  font-size: 5rem;
  position: relative;
  text-align: center;
  max-width: 100px;
  margin-bottom: 10px;
}

.project-content h3 {
  padding-bottom: 15px;
}

.project-content p {
  font-size: small;
}

#click-1,
#click-2,
#click-3,
#click-4,
#click-5,
#click-6 {
  display: none;
}

.project-description {
  align-items: center;
  align-content: center;
}

.click-me {
  margin-top: 20px;
  font-size: small;
  align-items: center;
  align-content: center;
  justify-items: center;
  display: block;
  width: 80px;
  height: 40px;
  background: transparent;
  border-bottom: 1px solid #eee;
  color: #ff6348;
  text-align: center;
  border-radius: 10px;
  line-height: 40px;
  cursor: pointer;
  transition: 0.5s;
}

.click-me:hover {
  background: #2f3542;
  color: #eee;
}

.content-in {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  align-items: center;
  align-content: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 550px;
  background: #ff6348;
  opacity: 0.9;
  z-index: 100;
  border-radius: 10px;
  transition: 0.3s ease-in;
  box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.4);
}

.content-in .project-content-image {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.project-img-container {
  width: 25%;
  margin: 10px 20px;
  align-items: center;
}

#click-1:checked ~ .content-in,
#click-2:checked ~ .content-in,
#click-3:checked ~ .content-in,
#click-4:checked ~ .content-in,
#click-5:checked ~ .content-in,
#click-6:checked ~ .content-in {
  opacity: 1;
  visibility: visible;
}

.header-in {
  height: 68px;
  background: #eee;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.4);
}

.header-in h2 {
  color: #2f3542;
  align-content: center;
  padding-top: 2rem;
}

.content-in p {
  font-size: 15px;
  font-weight: 500;
  color: #2f3542;
  text-align: center;
  justify-content: center;
  padding: 0 10px 10px 10px;
}

.close-btn {
  position: absolute;
  bottom: 12px;
  right: 25px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 10px;
  cursor: pointer;
}

.close-btn:hover {
  background: #2f3542;
  color: #ff6348;
  transition: 0.5s;
}

/*End project*/

/* Start photoshop gallery */
.gallery .container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5rem;
}

.img-gallery {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
    "img-1 img-2 img-3 img-3"
    "img-1 img-4 img-5 img-6"
    "img-7 img-7 img-8 img-6";
}

.img-gallery a {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.img-gallery a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.img-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}

.img-gallery a:hover i,
.img-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  grid-area: img-1;
  min-height: 31.5rem;
  background-image: url(/images/gallery/img-1.jpg);
}

.img-2 {
  grid-area: img-2;
  background-image: url(/images/gallery/img-2.jpg);
}

.img-3 {
  grid-area: img-3;
  background-image: url(/images/gallery/img-3.jpg);
}

.img-4 {
  grid-area: img-4;
  background-image: url(/images/gallery/img-4.jpg);
}

.img-5 {
  grid-area: img-5;
  background-image: url(/images/gallery/img-5.jpg);
}

.img-6 {
  grid-area: img-6;
  min-height: 31.5rem;
  background-image: url(/images/gallery/img-6.jpg);
}

.img-7 {
  grid-area: img-7;
  background-image: url(/images/gallery/img-7.jpg);
}

.img-8 {
  grid-area: img-8;
  background-image: url(/images/gallery/img-8.jpg);
}

/* End photoshop gallery */

/*Start work-experience*/
.work-experience .section-heading {
  margin-bottom: 5rem;
}

.work-timeline ul {
  border-left: 4px solid #ff6348;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.work-timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.3;
}

.work-timeline h5 {
  font-size: 1.4rem;
  color: #ff6348;
}

.work-timeline p {
  font-size: 1.4rem;
}

.work-timeline .work-date {
  border-bottom: 1px solid rgba(255, 109, 72, 0.8);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.work-timeline .work-date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.work-timeline .work-date::before,
.work-timeline .work-date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.work-timeline .work-date::before {
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1rem;
}

.work-timeline .work-date::after {
  content: "";
  box-shadow: 0 0 0 4px #eee;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}
/*End work-experience*/

/*Start extra-curricular*/
.extra-inner {
  margin-top: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.extra-inner .extra-box {
  position: relative;
  width: 320px;
  height: 450px;
  background: #2f3542;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 10px;
}

.extra-inner .extra-box:after {
  content: url(/images/CURRICULAR/leaf.png);
  position: absolute;
  top: 0;
  left: -50%;
  opacity: 0.04;
}

.extra-inner .extra-box .extra-icon {
  position: absolute;
  top: 18%;
  right: 35%;
  align-content: center;
  width: 30%;
  /* height: 220px; */
}

.extra-inner .extra-box .extra-description {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* height: 100px; */
  text-align: center;
}

.extra-inner .extra-box .extra-description {
  top: 47%;
}

.extra-inner .extra-box .extra-description ul li {
  list-style: none;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.extra-inner h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  margin: 10px;
}

.extra-inner .extra-box .extra-description h3 {
  font-size: 1.5rem;
  color: #ff6348;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.extra-inner .extra-box .extra-description p {
  font-size: 1.3rem;
  list-style: square;
  padding-bottom: 3px;
  text-decoration: dotted;
}

/*End extra-curricular*/

/*Start contact*/
.contact-inner {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card {
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
  cursor: pointer;
}

.card-icon {
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon {
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.card p {
  font-size: small;
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p {
  max-height: 40px;
  opacity: 1;
}
/*End contact*/

/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  background-color: #ff6348;
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: #333;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}
/*End footer*/

/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(240, 38, 3, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

/* MENU-TOGGLER ANIMATION */
@keyframes stick-1-open {
  0% {
    width: 80px;
  }
  40% {
    background-color: #444;
    width: 8px;
    transform: translate(40px, 0px);
  }
  75%,
  80% {
    width: 8px;
    transform: translate(40px, -50px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    background-color: #444;
    width: 8px;
    transform: translate(35px, 46px);
  }
}

@keyframes stick-2-open {
  80% {
    background-color: #eee;
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #444;
    transform: translate(8px, 0px) rotate(40deg);
  }
}

@keyframes stick-3-open {
  80% {
    background-color: #eee;
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    background-color: #444;
    transform: translate(8px, -23px) rotate(-40deg);
  }
}

.stick-1.close {
  width: 8px;
  transform: translate(27px, 26px);
  animation: stick-1-close 0.6s ease-out forwards;
}

.stick-2.close {
  transform: translate(0px, 0px) rotate(40deg);
  animation: stick-2-close 0.6s ease-out forwards;
}

.stick-3.close {
  transform: translate(0px, -23px) rotate(-40deg);
  animation: stick-3-close 0.6s ease-out forwards;
}

@keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
  }
  100% {
    width: 80px;
    transform: translate(0, 0);
  }
}

@keyframes stick-2-close {
  0% {
    background-color: #444;
    width: 80px;
  }
  20% {
    background-color: #444;
    width: 8px;
    transform: translate(0, 0px) rotate(40deg);
  }
  40% {
    background-color: #eee;
    width: 0px;
  }
  65% {
    transform: translate(0, -70px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 80px;
    transform: translate(0, 0px);
  }
}

@keyframes stick-3-close {
  0% {
    background-color: #444;
    width: 80px;
  }
  20% {
    background-color: #444;
    width: 8px;
    transform: translate(0, -23px) rotate(-40deg);
  }
  40% {
    background-color: #eee;
  }
  65% {
    transform: translate(0, -93px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 8px;
  }
  100% {
    width: 80px;
    transform: translate(0, 0px);
  }
}

/*End animations*/

/*Start media queries*/

/* MAIN */

@media screen and (max-width: 1345px) {
  /* WORK-EXPERIENCE */
  .work-timeline .data-date::before {
    left: -21rem;
  }

  .work-timeline .data-date::after {
    left: -6.9rem;
  }
}

@media screen and (max-width: 1134px) {
  /* WORK-EXPERIENCE */
  .work-timeline ul {
    margin: 0 0 0 auto;
  }

  .nav-link {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1064px) {
  .social-media i {
    font-size: 2.5rem;
  }

  .resume {
    font-size: 1rem;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 990px) {
  /* SKILLS */
  .inner {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }

  /* PROJECT */
  .project .container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }

  .container .project-box {
    grid-column: unset !important;
    grid-row: unset !important;
  }

  .content-in {
    width: 350px;
    height: 600px;
  }

  .header-in {
    height: 88px;
  }

  .header-in h2 {
    font-size: 2rem;
  }

  /* EXTRA-CURICULAR */
  .extra-inner {
    flex-direction: column;
  }

  .extra-inner .extra-box {
    margin: 10px 0;
  }

  /* CONTACT */
  .contact-info {
    flex-direction: column;
  }

  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 912px) {
  .top-nav .nav-list {
    flex-direction: column;
  }

  .top-nav .nav-list li {
    margin: 0.8rem 0;
  }

  /* GALLERY */
  .img-gallery {
    grid-template-areas:
      "img-1 img-1 img-2 img-2"
      "img-1 img-1 img-3 img-3"
      "img-4 img-4 img-5 img-5"
      "img-6 img-7 img-7 img-7"
      "img-8 img-8 img-8 img-8";
  }

  .img-gallery a {
    height: 10rem;
  }

  .img-1 {
    min-height: 21.5rem;
  }

  .img-6 {
    min-height: 10rem;
  }
}

@media screen and (max-width: 822px) {
  .landing-text h1 {
    font-size: 15rem;
  }

  .landing-text h6 {
    font-size: 1.4rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .section-heading h1 {
    font-size: 3rem;
  }

  .about-details .nav-list {
    flex-direction: initial;
  }

  .about-details li {
    margin: 0 0.7rem;
  }

  .about-details p {
    text-align: center;
    margin: 0 20px;
  }

  /* EDUCATION */

  .timeline ul {
    margin: 0 0 0 auto;
  }

  .timeline ul li:nth-child(odd):before {
    right: 10px;
  }

  .timeline ul li:nth-child(even):before {
    left: 12px;
  }

  .education-content {
    font-size: 0.8rem;
  }

  .education-content p {
    font-size: 0.8rem;
  }

  /* WORK EXPERIENCE */
  .timeline ul li:nth-child(odd):before {
    right: 14px;
  }

  .timeline ul li:nth-child(even):before {
    left: 16px;
  }
}

@media screen and (max-width: 650px) {
  .inner {
    grid-template-columns: 1fr;
  }
}

/* MENU TOGGLER */
@media screen and (max-width: 600px) {
  .landing-text h1 {
    font-size: 8rem;
  }

  .landing-text h6 {
    font-size: 0.7rem;
  }

  .about .container {
    flex-direction: column;
  }

  .profile-img {
    margin: 0 0 7rem 0;
  }

  .social-media i {
    font-size: 5rem;
  }

  .resume {
    font-size: 1.5rem;
    padding: 18px 10px;
  }

  .timeline ul li h3 {
    font-size: 1.4rem;
  }

  .timeline ul li p {
    font-size: 1rem;
  }

  .timeline .date::before {
    font-size: 1.4rem;
  }

  .up {
    right: 2rem;
  }
}

@media screen and (max-width: 477px) {
  .timeline ul li h3 {
    font-size: 1rem;
  }

  .timeline ul li p {
    font-size: 0.8rem;
  }

  .timeline ul li .date h4 {
    font-size: 10px;
  }

  .timeline ul li:nth-child(odd) .date {
    right: -90px;
  }

  .timeline ul li:nth-child(even) .date {
    left: -90px;
  }
}

@media screen and (max-width: 402px) {
  .social-media i {
    font-size: 2.5rem;
  }

  .resume {
    font-size: 1rem;
    padding: 10px 5px;
  }
}

/*End media queries*/
